.button {
  width: 25%;
  border: 1px solid #ebe3e3;
  border-radius: 3px;
  font-size: 0.9rem;
}

.wide {
  width: 50%;
  border: 1px solid #ebe3e3;
  border-radius: 3px;
  font-size: 0.9rem;
}

.grayColor {
  background-color: lightgray;
}

.orangeColor {
  background-color: #F18805;
}
