@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

body {
  background-color: #fefefe;
  padding: 0 35px;
  font-size: 1.4rem;
  font-family: 'Viaoda Libre', cursive;
}
